header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: white;
  overflow: hidden;
}

header::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  height: 160px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
  z-index: -1;
}

body {
  font-family: "Source Code Pro", monospace;
}

button {
  margin: 5px;
  padding: 5px 10px;
  background-color: dodgerblue; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

button:hover {
  background-color: cornflowerblue;
}

.maincard {
  position: fixed;
  width: 300px;
  height: 180px;
  top: 50px;
  right: 20px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aliceblue;
}

.gameCard {
  position: fixed;
  max-width: 30%;
  max-height: 200px;
  overflow-y: auto;
  bottom: 20px;
  left: 20px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aliceblue;
}

.textBox {
  position: fixed;
  width: 60%;
  max-height: 200px;
  bottom: 20px;
  right: 20px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;
  background-color: aliceblue;
}

#main {
  max-width: 70vw;
  min-width: 70vw;
  margin: auto;
}

#maingroup {
  display: flex;
}

.buttonrow {
  padding: 0.5em;
}

li {
  list-style-type: none;
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#resetbutton {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
