header {
  max-width: 70vw;
  min-width: 70vw;
  margin-left: auto;
  margin-right: auto;
}
#main {
  max-width: 70vw;
  min-width: 70vw;
  margin: auto;
}
#maingroup {
  display: flex;
}
.buttonrow {
  padding: 0.5em;
}
li {
  list-style-type: none;
}

#map {
  height: 100vh;
}

