header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 20px;
  background-color: #fff;
}

body {
  font-family: "Source Code Pro", monospace;
}

button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #4caf50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.maincard {
  position: fixed;
  width: 300px;
  height: 180px;
  top: 50px;
  right: 20px;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #cccccc;
}

.gameCard {
  position: fixed;
  width: 400px;
  max-height: 200px;
  overflow-y: auto;
  bottom: 20px;
  left: 20px;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #cccccc;
}

.textBox {
  position: fixed;
  width: 1000px;
  height: 200px;
  bottom: 20px;
  right: 20px;
  border-radius: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #cccccc;
}

#main {
  max-width: 70vw;
  min-width: 70vw;
  margin: auto;
}

#maingroup {
  display: flex;
}

.buttonrow {
  padding: 0.5em;
}

li {
  list-style-type: none;
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#resetbutton {
  background-color: #e53935;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#resetbutton:hover {
  background-color: #c62828;
}
